<div>
	<style>
		.component_root_view{
			width:99%;
		}
		.nav.navbar-nav li a,.nav.navbar-nav li:active a{
			font-size:15px !important;
		}
		.app_logo_min {
			background-image: url(/styles/img/network_home.png);
			display: block;
			background-repeat: no-repeat;
			background-blend-mode: hard-light;
			width: 60px;
			background-size: 28px;
			background-position-y: -2px;
			background-position-x: 23px;
			height: 24px;
			filter : invert();
		}
		@media only screen and (max-width: 768px){
			.nav.navbar-nav li, .navbar-header{
				border-top: 2px #080808 solid;
				background: #4c4c4c;
				background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #111111 80%, #2b2b2b 91%, #2c2c2c 99%, #131313 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, #4c4c4c), color-stop(12%, #595959), color-stop(25%, #666666), color-stop(39%, #474747), color-stop(80%, #111111), color-stop(91%, #2b2b2b), color-stop(99%, #2c2c2c), color-stop(100%, #131313));
				background: -webkit-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #111111 80%, #2b2b2b 91%, #2c2c2c 99%, #131313 100%);
				background: -o-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #111111 80%, #2b2b2b 91%, #2c2c2c 99%, #131313 100%);
				background: -ms-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #111111 80%, #2b2b2b 91%, #2c2c2c 99%, #131313 100%);
				background: linear-gradient(to bottom, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #111111 80%, #2b2b2b 91%, #2c2c2c 99%, #131313 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
			}
			.copyright_device{
				display:block !important;
			}
		}
		@media only screen and (min-width: 768px) and (max-width: 1366px) {
			.nav.navbar-nav li{
				border-top: 2px #080808 solid;
			}	
			.navbar.navbar-inverse{
				background: #4c4c4c;
				background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #111111 80%, #2b2b2b 91%, #2c2c2c 99%, #131313 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, #4c4c4c), color-stop(12%, #595959), color-stop(25%, #666666), color-stop(39%, #474747), color-stop(80%, #111111), color-stop(91%, #2b2b2b), color-stop(99%, #2c2c2c), color-stop(100%, #131313));
				background: -webkit-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #111111 80%, #2b2b2b 91%, #2c2c2c 99%, #131313 100%);
				background: -o-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #111111 80%, #2b2b2b 91%, #2c2c2c 99%, #131313 100%);
				background: -ms-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #111111 80%, #2b2b2b 91%, #2c2c2c 99%, #131313 100%);
				background: linear-gradient(to bottom, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #111111 80%, #2b2b2b 91%, #2c2c2c 99%, #131313 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
			}
			.copyright_device{
				display:block !important;
			}
		}
		@media only screen and (min-width: 1366px) {
			.nav.navbar-nav:not(.navbar-right){
				left: 36%;
				position: absolute;
			}
			.nav.navbar-nav li.active {
				margin-top: -2px;
			}
			.nav.navbar-nav li.active a{
				border-top: #2c97de 5px solid;
				height: 52px;
				line-height: 12px;
				/*background-image: url(/styles/img/background.jpg);*/
				background-color:#17181B !important;
			}
			.navbar.navbar-inverse{
				background: #4c4c4c;
				background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #111111 80%, #2b2b2b 91%, #2c2c2c 99%, #131313 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, #4c4c4c), color-stop(12%, #595959), color-stop(25%, #666666), color-stop(39%, #474747), color-stop(80%, #111111), color-stop(91%, #2b2b2b), color-stop(99%, #2c2c2c), color-stop(100%, #131313));
				background: -webkit-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #111111 80%, #2b2b2b 91%, #2c2c2c 99%, #131313 100%);
				background: -o-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #111111 80%, #2b2b2b 91%, #2c2c2c 99%, #131313 100%);
				background: -ms-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #111111 80%, #2b2b2b 91%, #2c2c2c 99%, #131313 100%);
				background: linear-gradient(to bottom, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #111111 80%, #2b2b2b 91%, #2c2c2c 99%, #131313 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
			}	
			.copyright_dt{
				display:block !important;
			}
		}
		.footer-bottom {
			min-height: 30px;
			width: 100%;
			bottom:0;
			position:fixed;
		}
		.copyright {
			color: #fff;
			line-height: 16px;
			padding: 7px 0;
		}
		.copyright_device, .copyright_dt{
			display:none;
		}
		.design {
			color: #fff;
			line-height: 30px;
			min-height: 30px;
			padding: 7px 0;
			text-align: right;
		}
		.design a {
			color: #fff;
		}
		    
	</style>
	<nav class="navbar navbar-inverse custom_dark_gradient app_header" style="margin-bottom:0;border-radius: 0;">
		<div class="container-fluid" >
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ui-app-navbar" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" data-ui-sref='app.home.view' style="display:flex;">
					<div class="app_logo_min"></div>
					Home Digital Network
				</a>
			</div>
			
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="ui-app-navbar">
				<ul class="nav navbar-nav hide-mobile">
					<li data-ui-sref-active="active">
					<a  data-ui-sref='app.home.view' class="glyphicon glyphicon-home">
						<span>Home</span>
					</a>
					</li>
					<li data-ui-sref-active="active" >
						<a  data-ui-sref='app.devices.view' class="glyphicon glyphicon-phone">
							<span>Devices</span>
						</a>
					</li>
					<li data-ui-sref-active="active">
						<a  data-ui-sref='app.routers.view'>
							<img class="invert_image_color router_icon" src="/styles/img/glyphicons/png/glyphicons-47-router.png"/>
							<span>Routers</span>
						</a>
					</li>
				</ul>
				<ul class="nav navbar-nav hide-desktop hide-iPad">
					<li data-ui-sref-active="active" data-toggle="collapse" data-target="#ui-app-navbar">
						<a  data-ui-sref='app.home.view' class="glyphicon glyphicon-home">
							<span>Home</span>
						</a>
					</li>
					<li data-ui-sref-active="active"  data-toggle="collapse" data-target="#ui-app-navbar">
						<a  data-ui-sref='app.devices.view' class="glyphicon glyphicon-phone">
							<span>Devices</span>
						</a>
					</li>
				</ul>
				
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a ng-href-void class="glyphicon glyphicon-user">
							<span>{{userName || 'admin'}}</span> 
						</a>
					</li>
					<li>
						<a data-ui-sref="hdnlogin" class="glyphicon glyphicon-log-out">
							<span>Logout</span> 
						</a>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	
	<div data-ui-view="content" data-autoscroll="false" class="component_root_view"></div>
	
	<div class="footer-bottom bg_dark_gradient">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="copyright_dt copyright">
						© 2016 XXX Systems,Inc. XXX, XXX Systems and XXX Systems logo are registered trademarks of XXX Systems,Inc.and/or its affiliates in the I.N and certain other countries.
					</div>
					<div class="copyright_device copyright">
						© 2016 XXX Systems, Inc. All rights reserved.
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
</div>